<div class="footer">
  <div>
    <ul>
      <li>About Us</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>FAQs</li>
      <li>Blog</li>
      <li>
        <a href=""><img src="/images/facebook.png" alt="facebook logo" /></a><a
          href=""
        ><img src="/images/linkedin.png" alt="linkedin logo" /></a><a
          href=""
        ><img src="/images/instagram.png" alt="instagram logo" /></a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <h4>Explore the World - Your Ultimate Travel Companion</h4>
      </li>
      <li>Contact us</li>
      <li>Email: support@exploretheworld.com</li>
      <li>Phone: +1 (800) 123-4567</li>
      <li>Address: 123 Wanderlust Ave, Suite 101, New York, NY 10001, USA</li>
    </ul>
  </div>
  <div>

  </div>
</div>