<nav class="navbar">
    <img src="images/logo.png" alt="logo" class="logo-img">
    <h1 class="website-title">Explore the World</h1>
    <ul class="website-links">
        <li><a href="/">Home</a></li>
        <li><a href="/destinations">Destinations</a></li>
    </ul>
</nav>