<nav class="navbar">
  <img src="/images/logo.png" alt="logo" class="logo-img" />
  <h1 class="website-title">Explore the World</h1>
  <ul class="website-links">
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/destinations">
      <li>Destinations</li>
    </a>
    <a href="/about">
      <li>About</li>
    </a>
  </ul>
</nav>