* {
  box-sizing: border-box;
  margin: 0;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header-footer-height: 7rem;
}

body {
  min-height: 100vh;
  width: 100%;

  background-color: #181818;
}

main {
  display: flex;
  flex-direction: column;

  margin-top: calc(var(--header-footer-height) + 3rem);
  margin-bottom: 3rem;
  padding: 0rem 5rem 0rem 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--header-footer-height);
  width: 100vw;

  position: fixed;
  top: 0;
  right: 0;
  padding: 0rem 5rem 0rem 5rem;

  border-bottom: solid 2px black;
  background-color: #1f1f1f;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    padding-left: 10rem;
  }

  img {
    height: 5rem;
    width: 5rem;
  }

  ul {
    display: flex;
    list-style-type: none;

    margin: 0;
    padding: 1rem;
    gap: 1rem;

    li {
      padding: 1rem;
      border-radius: 10%;

      background-color: #383838;

      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.footer {
  display: grid;
  width: 100vw;

  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;

  background-color: #1f1f1f;
  border-top: solid 2px black;

  div {
    text-align: center;
    gap: 1rem;

    background-color: #1f1f1f;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;

      margin: 0;
      padding: 1rem;
      gap: 1rem;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

h2 {
  margin-bottom: 2rem;
}

.destinations-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;

  .card-div {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    height: 15rem;
    width: 20rem;

    border: solid 2px black;
    background-color: #383838;

    transition: transform 0.2s ease;

    .card-header {
      display: flex;
      gap: 1rem;
      padding-bottom: 1rem;

      border-bottom: solid 2px whitesmoke;

      .name-div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1rem;

        .location-div {
          display: flex;

          gap: 0.5rem;

          img {
            height: 1rem;
            width: 1rem;
          }
        }

        h4 {
          font-size: 1.3rem;
        }
      }
      .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        height: 7rem;
        width: 7rem;
        overflow: hidden;

        border: solid 1px #696969;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .card-content {
      display: flex;
      padding-top: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
